@use "../variables/colors" as colors;
@import "../variables/breakpoints";

body {
	background: linear-gradient(
		180deg,
		colors.$gradient-light-purple 0%,
		colors.$gradient-dark-purple 100%
	);
}

.accordion {
	&-wrapper {
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
	}

	&-container {
		@include sc-breakpoint(1024) {
			align-items: center;
			overflow: hidden;
		}
		position: relative;
		display: flex;
		justify-content: center;

		.border-img {
			position: absolute;
			width: 236.85px;

			&__main {
				@include sc-breakpoint(768) {
					width: 518px;
					transform: translateY(-125px);
				}

				@include sc-breakpoint(1024) {
					transform: translateY(-33px);
					left: -101px;
					z-index: 2;
				}

				@include sc-breakpoint(1400) {
					transform: translateY(-28px);
				}

				img {
					@include sc-breakpoint(1024) {
						height: auto;
						width: 550px;
					}

					@include sc-breakpoint(1400) {
						width: 593px;
					}
				}
			}
			&__shadow {
				@include sc-breakpoint(1024) {
					left: -588px;
					top: -313px;
				}
				@include sc-breakpoint(1400) {
					top: -320px;
				}

				@include sc-breakpoint(1820) {
					top: -433px;
					left: -876px;
				}
				top: 112px;

				img {
					@include sc-breakpoint(1024) {
						width: 1047px;
					}
					@include sc-breakpoint(1400) {
						width: 1064px;
					}

					@include sc-breakpoint(1820) {
						width: 1442px;
					}
				}
			}
			&__box {
				@include sc-breakpoint(1024) {
					display: block;
					z-index: 3;
					position: fixed;
					transform: translate(-458px, 23px);
				}
				@include sc-breakpoint(1400) {
					transform: translate(-588px, 35px);
				}

				@include sc-breakpoint(1820) {
					transform: translate(-726px, 35px);
				}
				display: none;
			}
		}
	}
}
