@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.accordion {
	&-wrapper {
		@include sc-breakpoint(1024) {
			overflow: hidden;
		}
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
	}

	&-container {
		position: relative;
		display: flex;
		justify-content: center;

		@include sc-breakpoint(1024) {
			align-items: center;
		}

		.border-img {
			position: absolute;
			&__main {
				@include sc-breakpoint(768) {
					width: 518px;
					transform: translateY(-125px);
				}
				@include sc-breakpoint(1024) {
					transform: translateY(0);
				}

				img {
					@include sc-breakpoint(1024) {
						height: auto;
						width: 550px;
					}
				}

				@include sc-breakpoint(1024) {
					left: -108px;
				}

				width: 236.85px;
			}
			&__shadow {
				@include sc-breakpoint(1024) {
					left: -588px;
					top: -297px;
				}

				top: 112px;

				img {
					@include sc-breakpoint(1024) {
						width: 1000px;
					}
				}
			}
		}
	}

	&-list-container {
		@include sc-breakpoint(768) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		@include sc-breakpoint(1024) {
			align-self: end;
		}

		margin-top: 0;
		padding: 0 27px 31px 27px;
	}
	&-list-wrapper {
		@include sc-breakpoint(768) {
			width: 90vw;
		}

		@include sc-breakpoint(1024) {
			height: 600px;
			margin-top: 0;
		}

		width: 88vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: colors.$white;
		border-radius: 23px;
		box-shadow: 0 25px 50px -12px rgb(0 0 0 / 50%);
		margin-top: 109px;

		ul > li {
			list-style: none;
		}

		.accordion-main-title {
			@include sc-breakpoint(768) {
				margin-top: 213px;
				margin-bottom: 60px;
			}

			@include sc-breakpoint(1024) {
				margin-top: 70px;
				margin-left: 173px;
			}

			margin-top: 124px;
			margin-bottom: 22px;
		}

		.list-item {
			@include sc-breakpoint(425) {
				max-width: 63vw;
			}

			@include sc-breakpoint(768) {
				max-width: 70vw;
				padding: 20px 0;
			}

			@include sc-breakpoint(1024) {
				max-width: 40vw;
			}

			display: grid;
			align-items: center;
			width: 79vw;
			padding: 7px 0;
			border-bottom: 1px solid colors.$border-light-gray;

			.question-title {
				margin: 0;
				padding: 10px 0;
				grid-row: 1;
			}

			.question-answer {
				@include sc-breakpoint(768) {
					padding: 8px 20px 8px 0;
				}
				@include sc-breakpoint(1024) {
					padding-bottom: 0;
				}

				display: none;
				margin: 0;
				padding-top: 1px;
				padding-bottom: 7px;

				&.open {
					.question-answer {
						display: block;
					}
				}
			}

			svg {
				@include sc-breakpoint(768) {
					width: 23px;
					height: 14px;
				}
				width: 10px;
				height: 7px;
				grid-row: 1;
				justify-self: end;
			}
		}
	}
}
