@use "../variables/colors" as colors;
body {
  font-family: "Kumbh Sans";
}

.question-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: colors.$question-title-dark-gray;

  &:hover {
    color: colors.$arrow-orange;
    cursor: pointer;
  }
  &:active {
    font-weight: 700;
  }
}

.question-answer {
  color: colors.$text-light-gray;
  font-size: 12px;
  line-height: 18px;
}

.accordion-main-title {
  font-size: 32px;
  line-height: 40px;
}
